version: '3.8'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: jurupema-sqlserver
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=admin@123
    ports:
      - "1433:1433"
    volumes:
      - sqlserver_data:/var/opt/mssql
    restart: unless-stopped
    healthcheck:
      test: /opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P admin@123 -Q "SELECT 1" -C || exit 1
      interval: 10s
      timeout: 3s
      retries: 10
      start_period: 10s

  azurite:
    image: mcr.microsoft.com/azure-storage/azurite:latest
    container_name: jurupema-azurite
    ports:
    - "10000:10000"
    - "10001:10001"
    - "10002:10002"
    volumes:
      - azurite_data:/data
    restart: unless-stopped

volumes:
  sqlserver_data:
    driver: local
  azurite_data:
    driver: local
